[submodule "backend"]
	path = backend
	url = https://github.com/MarcosV1996/appointment-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MarcosV1996/appointment-front-end.git
